In [1]:
ticker = input('Please input the ticker of the stock: ')

Please input the ticker of the stock: aapl

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

def get_summary(ticker):
    link = 'https://finance.yahoo.com/quote/' + ticker + '/?p' + ticker  
    response = requests.get(link)
    result_page = BeautifulSoup(response.content,'lxml')
    Summary_list = []

    for tag in result_page.find_all('td'):
        Summary_list.append(tag.get_text())

    values = list(Summary_list[1::2][i] for i in range(len(Summary_list[1::2])))
    indices = list(Summary_list[::2][i] for i in range(len(Summary_list[::2])))
    Summary_list = [indices,values]
    df = pd.DataFrame(Summary_list).transpose()
    df.columns = ["Index", "Value"]
    df.set_index("Index", inplace = True)
    
    return df

In [3]:
get_summary(ticker)

                                               Value
Index
Previous Close                                179.55
Open                                          180.29
Bid                                    178.82 x 1100
Ask                                     178.90 x 900
Day's Range                          177.03 - 180.33
52 Week Range                        150.24 - 233.47
Volume                                    39,531,549
Avg. Volume                               38,567,290
Market Cap                                  847.433B
Beta (3Y Monthly)                               1.21
PE Ratio (TTM)                                 14.99
EPS (TTM)                                      11.91
Earnings Date             Jan 30, 2019 - Feb 4, 2019
Forward Dividend & Yield                2.92 (1.51%)
Ex-Dividend Date                          2018-11-08
1y Target Est                                 231.32

In [9]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

def get_ratios(ticker):
    link = 'https://finance.yahoo.com/quote/' + ticker + '/key-statistics?p=' + ticker      
    response = requests.get(link)
    result_page = BeautifulSoup(response.content,'lxml')
    VM_list = []
    for tag in result_page.find_all('td'):
        VM_list.append(tag.get_text())
    
    values = list(VM_list[1::2][i] for i in range(len(VM_list[1::2])))
    indices = list(VM_list[0::2][i] for i in range(len(VM_list[0::2])))

    sel_values = list(values[11:30][i] for i in range(len(values[11:30])))
    sel_indices = list(indices[11:30][i] for i in range(len(indices[11:30])))
    Finicial_ratio_list = [sel_indices,sel_values]
    
    df = pd.DataFrame(Finicial_ratio_list).transpose()
    df.columns = ["Finicial Ratio", "Value"]
    df.set_index("Finicial Ratio", inplace = True)
    return df

In [10]:
get_ratios(ticker)

                                   Value
Finicial Ratio
Profit Margin                     22.41%
Operating Margin (ttm)            26.69%
Return on Assets (ttm)            11.96%
Return on Equity (ttm)            49.36%
Revenue (ttm)                    265.59B
Revenue Per Share (ttm)            53.60
Quarterly Revenue Growth (yoy)    19.60%
Gross Profit (ttm)               101.84B
EBITDA                             81.8B
Net Income Avi to Common (ttm)    59.53B
Diluted EPS (ttm)                  11.91
Quarterly Earnings Growth (yoy)   31.80%
Total Cash (mrq)                   66.3B
Total Cash Per Share (mrq)         13.97
Total Debt (mrq)                 114.48B
Total Debt/Equity (mrq)           106.85
Current Ratio (mrq)                 1.12
Book Value Per Share (mrq)         22.53
Operating Cash Flow (ttm)         77.43B

In [13]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

def get_Key_Executives(ticker):
    link = 'https://finance.yahoo.com/quote/' + ticker + '/profile?p=' + ticker  
    response = requests.get(link)
    result_page = BeautifulSoup(response.content,'lxml')
    key_executives_list = []
    
    for tag in result_page.find_all('td'):
        key_executives_list.append(tag.get_text())
        
    names = list(key_executives_list[::5][i] for i in range(len(key_executives_list[::5])))
    titles = list(key_executives_list[1::5][i] for i in range(len(key_executives_list[1::5])))
    pays = list(key_executives_list[2::5][i] for i in range(len(key_executives_list[2::5])))
    exerciseds = list(key_executives_list[3::5][i] for i in range(len(key_executives_list[3::5])))
    year_borns = list(key_executives_list[4::5][i] for i in range(len(key_executives_list[4::5])))
    key_executives_list = [names,titles,pays,exerciseds,year_borns]
    
    df = pd.DataFrame(key_executives_list).transpose()
    df.columns = ["Name", "Title", "Pay", "Exercised", "Year Born"]
    df.set_index ("Name", inplace = True)
    
    
    return df

In [15]:
get_Key_Executives(ticker)

,Title,Pay,Exercised,Year Born
Name,,,,
Mr. Timothy D. Cook,CEO & Director,N/A,N/A,1961
Mr. Luca Maestri,CFO & Sr. VP,N/A,N/A,1964
Mr. Ron Okamoto,Head of Developer Relations,147.42k,N/A,N/A
Mr. Daniel J. Riccio,Sr. VP of Hardware Engineering,N/A,N/A,1963
Ms. Angela J. Ahrendts,Sr. VP of Retail,N/A,N/A,1961

In [16]:
def get_description(ticker):
    link = 'https://finance.yahoo.com/quote/' + ticker + '/profile?p=' + ticker  
    response = requests.get(link)
    result_page = BeautifulSoup(response.content,'lxml')
    for tag in result_page.find_all('p',class_= "Mt(15px) Lh(1.6)"):
        print(tag.get_text())

In [17]:
get_description(ticker)

Apple Inc. designs, manufactures, and markets mobile communication and media devices, and personal computers. It also sells various related software, services, accessories, and third-party digital content and applications. The company offers iPhone, a line of smartphones; iPad, a line of multi-purpose tablets; and Mac, a line of desktop and portable personal computers, as well as iOS, macOS, watchOS, and tvOS operating systems. It also provides iTunes Store, an app store that allows customers to purchase and download, or stream music and TV shows; rent or purchase movies; and download free podcasts, as well as iCloud, a cloud service, which stores music, photos, contacts, calendars, mail, documents, and others. In addition, the company offers AppleCare support services; Apple Pay, a cashless payment service; Apple TV that connects to consumers' TVs and enables them to access digital content directly for streaming video, playing music and games, and viewing photos; and Apple Watch, a personal electronic device, as well as AirPods, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. The company serves consumers, and small and mid-sized businesses; and education, enterprise, and government customers worldwide. It sells and delivers digital content and applications through the iTunes Store, App Store, Mac App Store, TV App Store, Book Store, and Apple Music. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.