In [3]:
ticker = input('Please input the ticker of the stock: ')

In [4]:
#common parts
import requests
from bs4 import BeautifulSoup
link = 'https://finance.yahoo.com/quote/MS/financials?p=' + ticker
response = requests.get(link)
if response.status_code == 200:
    pass
else:
    print('An error occurred when accessing the page!')

In [5]:
def analysis(ticker):
    import requests
    from bs4 import BeautifulSoup
    import pandas as pd
    link = 'https://finance.yahoo.com/quote/' + ticker + '/analysis?p' + ticker
    response = requests.get(link)
    if response.status_code == 200:
        pass
    else:
        print('An error occurred when accessing the page!')
    result_page = BeautifulSoup(response.content,'lxml')
    df_list = []
    for table_tag in result_page.find_all('table'):
        col,data_col,data_frame = [], [], []
        for th_tag in table_tag.find_all('th'):
            col.append(th_tag.get_text())
        i = 1
        for td_tag in table_tag.find_all('td'):
            if 1 <= i <= 5:
                data_col.append(td_tag.get_text())
                i += 1
            else:
                data_frame.append(data_col)
                data_col = []
                i = 1
                data_col.append(td_tag.get_text())
                i += 1
        data_frame.append(data_col)
        df = pd.DataFrame(data_frame,columns = col)
        df.set_index(col[0],inplace=True)
        df_list.append(df)
    return df_list[0]
#     return df_list[0],df_list[1],df_list[2],df_list[3],df_list[4],df_list[5]

In [6]:
def income_statement(ticker):
    import requests
    from bs4 import BeautifulSoup
    import pandas as pd
    link = 'https://finance.yahoo.com/quote/' + ticker + '/financials?p=' + ticker
    response = requests.get(link)
    if response.status_code == 200:
        pass
    else:
        print('An error occurred when accessing the page!')
    result_page = BeautifulSoup(response.content,'lxml')
    label,col,data_col,data_frame = [],[],[],[]
    for tag in result_page.find_all('td')[:5]:
        col.append(tag.get_text())
    col[0] = col[0] + ' (All numbers in thousands)'
    i = 1
    for tag in result_page.find_all('td')[5:]:
        if tag.get('class') != ['Fw(b)', 'Fz(15px)', 'Pb(8px)', 'Pt(36px)']:
            if 1 <= i <= 5:
                data_col.append(tag.get_text())
                i += 1
            else:
                data_frame.append(data_col)
                data_col = []
                i = 1
                data_col.append(tag.get_text())
                i += 1
    data_frame.append(data_col)
    df = pd.DataFrame(data_frame,columns = col)
    df.set_index(col[0],inplace=True)
    return df

In [7]:
income_statement(ticker)

,12/31/2017,12/31/2016,12/31/2015,12/31/2014
Revenue (All numbers in thousands),,,,
Total Revenue,"37,945,000","34,631,000","35,226,000","33,977,000"
Cost of Revenue,"3,884,000","3,707,000","3,659,000","3,441,000"
Gross Profit,"34,061,000","30,924,000","31,567,000","30,536,000"
Research Development,-,-,-,-
Selling General and Administrative,"21,273,000","19,901,000","20,377,000","22,032,000"
Non Recurring,-,-,-,-
Others,-,-,-,-
Total Operating Expenses,"25,157,000","23,608,000","24,036,000","25,473,000"
Operating Income or Loss,"12,788,000","11,023,000","11,190,000","8,504,000"
Total Other Income/Expenses Net,"-2,385,000","-2,175,000","-2,695,000","-4,913,000"
Earnings Before Interest and Taxes,-,-,-,-
Interest Expense,-,-,-,-
Income Before Tax,"10,403,000","8,848,000","8,495,000","3,591,000"
Income Tax Expense,"4,168,000","2,726,000","2,200,000","-90,000"
Minority Interest,"1,075,000","1,127,000","1,002,000","1,204,000"
Net Income From Continuing Ops,"6,235,000","6,122,000","6,295,000","3,681,000"
Discontinued Operations,"-19,000","1,000","-16,000","-14,000"
Extraordinary Items,-,-,-,-
Effect Of Accounting Changes,-,-,-,-
Other Items,-,-,-,-
Net Income,"6,111,000","5,979,000","6,127,000","3,467,000"
Preferred Stock And Other Adjustments,-,-,-,-
Net Income Applicable To Common Shares,"5,588,000","5,508,000","5,671,000","3,152,000"